.logo {
  position: absolute;
  top: 0;
  left: 0;
}

.loginSignup {
  position: absolute;
  top: 0;
  right: 0;
}

.header {
  margin-bottom: 200px;
}

.article,
.comment {
  border: 1px solid;
  margin: 14px;
  text-align: center;
}

.comment {
  background-color: azure;
  color: black;
}

.commentAuthor {
  font-weight: bold;
}

.upvoteButton {
  background-color: green;
}

.downvoteButton {
  background-color: red;
}
